@model IEnumerable<Capstone.WebUI.Domain.Entities.Form>
@{
    ViewBag.Title = "Leader Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leader Board</h2>

<table class="table">
    <tr>
        <td>Charity</td>
        <td>BV Host</td>
        <td>Partnership Date</td>
        <td>Actual total sales</td>
        <td>Posi Donations</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NameOnCheck)</td>
            <td>@Html.DisplayFor(modelItem => item.HostingRestaurant)</td>
            <td>@Html.DisplayFor(modelItem => item.DateOfPartnership)</td>
            <td>@Html.DisplayFor(modelItem => item.ActualSalesTotal)</td>
            <td>@Html.DisplayFor(modelItem => item.PosiDonations)</td>
        </tr>
    }
</table>