@model IEnumerable<Capstone.WebUI.Domain.Entities.Form>
@{
    ViewBag.Title = "Leader Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Leader Board</h2>

<table class="table">
    <tr>
        <td><center>BV Host</center></td>
        <td>Charity</td>
        <td>Partnership Date</td>
        <td><center>Actual Sales</center></td>
        <td><center>Actual Guest Count</center></td>
        <td><center>Posi Donations</center></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><center>@Html.DisplayFor(modelItem => item.HostingRestaurant)</center></td>
            <td>@Html.DisplayFor(modelItem => item.NameOnCheck)</td>
            <td>@Html.DisplayFor(modelItem => item.DateOfPartnership)</td>
            <td><center>@Html.DisplayFor(modelItem => item.ActualSalesTotal)</center></td>
            <td><center>@Html.DisplayFor(modelItem => item.ActualGuestCountTotal)</center></td>
            <td><center>@Html.DisplayFor(modelItem => item.PosiDonations)</center></td>
        </tr>
    }
</table>