

    <div class="links">
        @Html.ActionLink("User Crud", "AdminUserIndex", "AdminUser") <br />
        @Html.ActionLink("Charity Crud", "Index", "AdminCharity")<br />
        @Html.ActionLink("BV Location Crud", "AdminLocIndex", "AdminLoc") <br />
        @Html.ActionLink("PartnershipNight Crud", "Index", "AdminPartnershipNight") <br />
        @Html.ActionLink("Calculator", "Calculator", "Home") <br />
        @Html.ActionLink("Documents", "Documents", "Home") <br />
    </div>

    Link <br />

