

    <div class="links">
        <ul>
           <li>@Html.ActionLink("User Crud", "UserIndex", "CRUD") </li>
           <li>@Html.ActionLink("Charity Crud", "CharityIndex", "CRUD")</li>
           <li>@Html.ActionLink("BV Location Crud", "LocationIndex", "CRUD") </li>
           <li>@Html.ActionLink("PartnershipNight Crud", "PartnershipNightIndex", "CRUD") </li>

           <li>@Html.ActionLink("Calculator", "Calculator", "Home") </li>
           <li>@Html.ActionLink("Documents", "Documents", "Home") </li>
            <li>@Html.ActionLink("FullCalendar", "FullCalendar", "Home")</li>
        </ul>
    </div>



