

    <div class="links">
        <ul>
           <li>@Html.ActionLink("User Crud", "AdminUserIndex", "AdminUser") </li>
           <li>@Html.ActionLink("Charity Crud", "Index", "AdminCharity")</li>
           <li>@Html.ActionLink("BV Location Crud", "AdminLocIndex", "AdminLoc") </li>
           <li>@Html.ActionLink("PartnershipNight Crud", "Index", "AdminPartnershipNight") </li>
           <li>@Html.ActionLink("Calculator", "Calculator", "Home") </li>
           <li>@Html.ActionLink("Documents", "Documents", "Home") </li>
           <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
        </ul>
    </div>



