@model Capstone.WebUI.Domain.Entities.Form

@{
    ViewBag.Title = "Edit Calculator Form";
}


<div>Edit Form, @Model.DateOfPartnership</div>

@using (Html.BeginForm("Edit", "Form")) {

    @*we just want the manually entered fields*@
    @*@Html.EditorForModel()*@


    <div class = "lady">
	@Html.LabelFor(x => x.NameOnCheck)
	<div class="tramp">
		@Html.EditorFor(x => x.NameOnCheck)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Purpose)
	<div class="tramp">
		@Html.EditorFor(x => x.Purpose)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ContactName)
	<div class="tramp">
		@Html.EditorFor(x => x.ContactName)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.OrganizationMailingAddress )
	<div class="tramp">
		@Html.EditorFor(x => x.OrganizationMailingAddress )
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.OrganizationMailingCity)
	<div class="tramp">
		@Html.EditorFor(x => x.OrganizationMailingCity)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.OrganizationMailingState)
	<div class="tramp">
		@Html.EditorFor(x => x.OrganizationMailingState)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.OrganizationMailingZip)
	<div class="tramp">
		@Html.EditorFor(x => x.OrganizationMailingZip)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.OrganizationPhone)
	<div class="tramp">
		@Html.EditorFor(x => x.OrganizationPhone)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.FederalTaxID)
	<div class="tramp">
		@Html.EditorFor(x => x.FederalTaxID)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.NewPartner)
	<div class="tramp">
		@Html.EditorFor(x => x.NewPartner)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.HostingRestaurant)
	<div class="tramp">
		@Html.EditorFor(x => x.HostingRestaurant)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.WeekDayOfPartnership)
	<div class="tramp">
		@Html.EditorFor(x => x.WeekDayOfPartnership)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.DateOfPartnership)
	<div class="tramp">
		@Html.EditorFor(x => x.DateOfPartnership)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week1Date)
	<div class="tramp">
		@Html.EditorFor(x => x.Week1Date)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week2Date)
	<div class="tramp">
		@Html.EditorFor(x => x.Week2Date)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week3Date)
	<div class="tramp">
		@Html.EditorFor(x => x.Week3Date)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week1_45_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week1_45_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week1_56_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week1_56_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week1_67_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week1_67_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week1_78_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week1_78_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week1_89_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week1_89_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week2_45_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week2_45_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week2_56_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week2_56_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week2_67_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week2_67_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week2_78_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week2_78_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week2_89_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week2_89_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week3_45_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week3_45_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week3_56_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week3_56_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week3_67_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week3_67_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week3_78_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week3_78_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Week3_89_GuestCount)
	<div class="tramp">
		@Html.EditorFor(x => x.Week3_89_GuestCount)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.LastWeekAverageCheck_45)
	<div class="tramp">
		@Html.EditorFor(x => x.LastWeekAverageCheck_45)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.LastWeekAverageCheck_56)
	<div class="tramp">
		@Html.EditorFor(x => x.LastWeekAverageCheck_56)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.LastWeekAverageCheck_67)
	<div class="tramp">
		@Html.EditorFor(x => x.LastWeekAverageCheck_67)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.LastWeekAverageCheck_78)
	<div class="tramp">
		@Html.EditorFor(x => x.LastWeekAverageCheck_78)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.LastWeekAverageCheck_89)
	<div class="tramp">
		@Html.EditorFor(x => x.LastWeekAverageCheck_89)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Scenario1_GuestCountInvited)
	<div class="tramp">
		@Html.EditorFor(x => x.Scenario1_GuestCountInvited)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Scenario2_GuestCountInvited)
	<div class="tramp">
		@Html.EditorFor(x => x.Scenario2_GuestCountInvited)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualSales_45)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualSales_45)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualSales_56)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualSales_56)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualSales_67)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualSales_67)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualSales_78)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualSales_78)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualSales_89)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualSales_89)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualGuestCount_45)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualGuestCount_45)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualGuestCount_56)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualGuestCount_56)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualGuestCount_67)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualGuestCount_67)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualGuestCount_78)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualGuestCount_78)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.ActualGuestCount_89)
	<div class="tramp">
		@Html.EditorFor(x => x.ActualGuestCount_89)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.PosiDonations)
	<div class="tramp">
		@Html.EditorFor(x => x.PosiDonations)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.Notes)
	<div class="tramp">
		@Html.EditorFor(x => x.Notes)
	</div>
</div>


<div class = "lady">
	@Html.LabelFor(x => x.MailPartnershipCheckToBV)
	<div class="tramp">
		@Html.EditorFor(x => x.MailPartnershipCheckToBV)
	</div>
</div>

<div class = "lady">
	@Html.LabelFor(x => x.IsComplete)
	<div class="tramp">
		@Html.EditorFor(x => x.IsComplete)
	</div>
</div>


    @Html.HiddenFor(model => model.FormId)

    <input type="submit" value="Save" />
    if(Model.FormId != 0)
    { 
       <input type="button" value="Print" onclick="location.href='@Url.Action("Print", "Form", new {formId = Model.FormId })'" />
    }
           @Html.ActionLink("Cancel and return to List", "Index")
           }