@model Capstone.WebUI.Domain.Entities.PartnershipNight
@{
    if(TempData["Title"] == null)
    { 
        ViewBag.Title = "Add";
    }
    else
    { 
        ViewBag.Title = TempData["Title"];
    }
}

<h1> @TempData["Title"] </h1>

<!-- Commenting out but add these back in when I have time to match the list item names to the id: Charity: Model.Charity.Name <br /> Store#: Model.BVLocation.BvStoreNum -->



@using (Html.BeginForm("PartnershipNightEdit", "CRUD"))
{
    @Html.EditorForModel()
    @Html.EditorFor(model => model.Charity.Name)
    @Html.EditorFor(model => model.BVLocation.BvStoreNum)
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and return to List", "LocationIndex")
}