@model IEnumerable<Capstone.WebUI.Models.ApplicationUserVM>

@{
    ViewBag.Title = "Users";
}

<h2>All Users</h2>
<table>
    <tr class="tableHeadings">
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Store Number</th>
    </tr>
<div class="backgroundTableColorTest">
@foreach (var item in Model) {
    <tr class="tableDataRow">
        <td>@Html.ActionLink(item.AUser.FirstName + " " + item.AUser.LastName, "UserEdit", "CRUD", new { item.AUser.Id }, null)</td>
        <td>@Html.DisplayFor(modelItem => item.AUser.Role)</td>
        <td>@Html.DisplayFor(modelItem => item.AUser.UserEmail)</td>
        <td>@Html.DisplayFor(modelItem => item.AUser.PhoneNumber)</td>
        <td>@Html.DisplayFor(modelItem => item.AUser.BvLocation.BvStoreNum)</td>
        <td>
            @using (Html.BeginForm("UserDelete", "CRUD", new { item.AUser.Id }))
            {
               <input type ="submit" value ="Delete" />
            }
        </td>
    </tr>
}
</div>
</table>
<p>@Html.ActionLink("Add a new user", "Register", "Account")</p>



